<h1>My Tasks</h1>
<% if @tasks.blank? %>
  <p> No tasks yet. Create one! </p>
<% else %>
  <table>
    <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= link_to "Delete", "/tasks/delete/#{task.id}", :confirm => "Really delete?" %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
<% end %>
<%= form_tag "/tasks/create" do %>
  <%= text_field_tag :name %> 
  <%= submit_tag "Add" %>
<% end %>
  